<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Module4and5_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.module4and5_01.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateAndTime</display-name>
    <servlet-name>DateAndTime</servlet-name>
    <servlet-class>com.module4and5_01.DateAndTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateAndTime</servlet-name>
    <url-pattern>/DateAndTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWish</display-name>
    <servlet-name>GetWish</servlet-name>
    <servlet-class>com.module4and5_01.GetWish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWish</servlet-name>
    <url-pattern>/GetWish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>com.module4and5_01.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S</display-name>
    <servlet-name>S</servlet-name>
    <servlet-class>com.module4and5_01.S</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S</servlet-name>
    <url-pattern>/S</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LearnJspServlet</display-name>
    <servlet-name>LearnJspServlet</servlet-name>
    <servlet-class>com.module4and5_01.LearnJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearnJspServlet</servlet-name>
    <url-pattern>/LearnJspServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalServlet</display-name>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>com.module4and5_01.FactsOfIndiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/AnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuessNumber</display-name>
    <servlet-name>GuessNumber</servlet-name>
    <servlet-class>com.module4and5_01.KnowYourDayOfWeek</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuessNumber</servlet-name>
    <url-pattern>/GuessNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubhasChandraBose</display-name>
    <servlet-name>SubhasChandraBose</servlet-name>
    <servlet-class>com.module4and5_01.SubhasChandraBose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubhasChandraBose</servlet-name>
    <url-pattern>/SubhasChandraBose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyDetails</display-name>
    <servlet-name>SurveyDetails</servlet-name>
    <servlet-class>com.module4and5_01.SurveyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyDetails</servlet-name>
    <url-pattern>/SurveyDetails</url-pattern>
  </servlet-mapping>
</web-app>